<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @place.streetname %>
</p>

<p>
  <strong>Plocation:</strong>
  <%= @place.plocation %>
</p>

<p>
  <strong>Details:</strong>
  <%= @place.details %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
